@model IEnumerable<QL_SinhVien.Models.QuanLySV>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách Sinh viên</h1>

<p>
    <a asp-action="Create">Thêm Sinh Viên</a>
    <br>
    <a class = "btn btn-success" asp-action="Download">Dowload</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSV)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.TenSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Lop)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Khoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSV)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TenSV)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TenLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaSV">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaSV">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaSV">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>

@using (Html.BeginForm("Index", "SinhVien", FormMethod.Get, new {id = "form1"}))
{
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page, 
            pageSize = ViewBag.psize}),
            new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, 
            PageClasses = new string[] { "page-link" }})

        </div>
        <div class = "col-md-1">
            @Html.DropDownList("pageSize",null,new{ @class= "form-select"})

        </div>

    </div>
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function){
        $("#pageSize"). change(function () {
            $("#form1").submit();
        });
    });
</script>