@model IEnumerable<QL_SinhVien.Models.Lop>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách lớp</h1>

<p>
    <a asp-action="Create">Tạo lớp mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              @Html.DisplayNameFor(model => model.MaLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenLop)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLop)
            </td>
       
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLop">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaLop">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLop">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
@using (Html.BeginForm("Index", "Nhanvien", FormMethod.Get, new {id = "form1"}))
{
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page, 
            pageSize = ViewBag.psize}),
            new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, 
            PageClasses = new string[] { "page-link" }})

        </div>
        <div class = "col-md-1">
            @Html.DropDownList("pageSize",null,new{ @class= "form-select"})

        </div>

    </div>
}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function){
        $("#pageSize"). change(function () {
            $("#form1").submit();
        });
    });
</script>