@model QL_SinhVien.Models.QuanLyDiem

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bạn có chắc chắn muốn xoá?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuanLyMonHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuanLySV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Diem" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>