@model QL_SinhVien.Models.QuanLyDiem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quản lý Điểm</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuanLyMonHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenMon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuanLySV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSV)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TenMon">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>