@model IEnumerable<QL_SinhVien.Models.QuanLyMonHoc>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách Môn</h1>

<p>
    <a asp-action="Create">Tạo Môn mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              @Html.DisplayNameFor(model => model.MaMon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenMon)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenMon)
            </td>
       
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaMon">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaMon">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaMon">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>